{% extends 'base.html.twig' %}

{% block title %}Войти • Mark{% endblock %}

{% block body %}
    <header>
        <img id="logotype" src="{{ asset('public/img/logo.png') }}"></div>
    </header>
    <main>
        <form id="login" method="post">
            <input class="nickname" type="text" name="_username" value="{{ last_username }}" placeholder="Имя пользователя">
            <input class="password" type="password" name="_password" placeholder="Пароль">
            <input type="hidden" name="_csrf_token", value="{{ csrf_token('authenticate') }}">
            <button class="submit" type="submit">Войти</button>
        </form>
        <p class="undertext">Ещё нет аккаунта? <a class="link" href="{{ path('register') }}">Регистрация</a></p>
        {% if error %}
            <p class="error">Ошибка авторизации</p>
        {% endif %}
    </main>
{% endblock %}