{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block bar %}{% endblock %}
{% block body %}
    <div id="logotype">
        <img src="{{ asset('/img/logotype.svg') }}"></div>
    </div>
    <div class="container">
        <form id="form" action="{{ path('login') }}" method="post">
            <input type="text" name="nickname" placeholder="Имя пользователя" value="{{ lastNickname }}">
            <input type="password" name="password" placeholder="Пароль">
            <button id="button" type="submit">Войти</button>
        </form>
        {% if error %}
            <div id="error">Неверный логин или пароль</div>
        {% endif %}
    </div>
{% endblock %}