{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block body %}
    <h1>Войти</h1>
    <form action="{{ path('login') }}" method="post">
        <input type="text" name="_username" value="{{ last_username }}">
        <input type="text" name="_password">
        <button type="submit">Войти</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}