{% extends 'base.html.twig' %}

{% block body %}
    <div id="logotype">
        <img src="{{ asset('/img/logotype.svg') }}"></div>
    </div>
    <div class="container">
        <form action="{{ path('register') }}" method="post">
            <input type="text" name="username" placeholder="Имя пользователя" value="{{ lastUsername }}">
            <input type="password" name="password" placeholder="Пароль">
            <button type="submit">Регистрация</button>
        </form>
        {% if error %}
            <div id="error">{{ error.message }}</div>
        {% endif %}
    </div>
{% endblock %}