#posts
  display: grid
  grid-gap: 16px

  .post
    background-color: #ffffff
    border-radius: 8px

    .post__head
      position: relative
      display: flex
      padding: 16px
      border-bottom: 1px solid $bc

      .post__head__user
        font-size: 16px
        text-decoration: none
        color: $mc

      .post__head__date
        font-size: 16px
        padding-left: 8px
        color: $bc

    .post__body
      padding: 16px 16px 16px 16px

      .post__body__text
        -webkit-text-size-adjust: none
        -moz-text-size-adjust: none
        font-size: 16px
        word-break: break-word

        .post__body__text__show
          display: block
          color: $mc

        .post__body__text__hide
          display: none

    .post__foot
      display: flex
      align-items: center
      padding: 16px
      border-top: 1px solid $bc

      .post__foot__like
        display: flex
        justify-content: center
        align-items: center
        color: $bc
        background: none
        border: none

        .post__foot__like__icon
          cursor: pointer
          font-size: 19px

        .post__foot__like__count
          color: $bc
          text-decoration: none
          font-size: 16px
          margin-left: 16px

      .post__foot__unlike
        display: flex
        justify-content: center
        align-items: center
        font-size: 19px
        color: #ff0000
        background: none
        border: none

        .post__foot__unlike__icon
          cursor: pointer
          font-size: 19px

        .post__foot__unlike__count
          color: #ff0000
          text-decoration: none
          font-size: 16px
          margin-left: 16px