#posts
  display: grid
  grid-gap: 16px

  .post
    background-color: #ffffff
    border-radius: 4px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25)

    .post__head
      position: relative
      display: flex
      border-bottom: 1px solid $bc

      .post__head__user
        font-size: 16px
        padding: 16px
        text-decoration: none
        color: $mc

      .post__head__date
        padding: 16px 0
        font-size: 16px
        color: $hc

      .post__head__menu
        position: absolute
        right: 0

        &:hover .post__head__menu__list
          visibility: visible
          opacity: 1

        .post__head__menu__button
          position: absolute
          right: 0
          padding: 16px
          border: none
          background: none
          cursor: pointer
          display: flex
          justify-content: center
          align-items: center
          color: $hc

          .post__head__menu__button__icon
            width: 19px
            height: 19px

        .post__head__menu__list
          visibility: hidden
          opacity: 0
          position: absolute
          right: 16px
          top: 16px
          white-space: nowrap
          background-color: #ffffff
          border-radius: 4px
          cursor: pointer
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25)
          transition: all 250ms linear

          .post__head__menu__list__delete
            font-size: 16px
            padding: 16px

    .post__body
      padding: 16px

      .post__body__text
        -webkit-text-size-adjust: none
        -moz-text-size-adjust: none
        font-size: 16px
        word-break: break-word

        .post__body__text__show
          display: block
          color: $mc

        .post__body__text__hide
          display: none

    .post__foot
      border-top: 1px solid $bc

      .post__foot__action
        display: flex
        padding: 16px

        .post__foot__like
          display: flex
          align-items: center
          font-size: 16px
          color: $hc
          background: none
          border: none
          cursor: pointer
          text-decoration: none

          .post__foot__like__icon
            width: 19px
            height: 19px

          .post__foot__like__count
            color: $hc
            margin-left: 8px

        .post__foot__unlike
          display: flex
          justify-content: center
          align-items: center
          font-size: 16px
          color: #ff0000
          background: none
          border: none
          cursor: pointer
          text-decoration: none

          .post__foot__unlike__icon
            width: 19px
            height: 19px

          .post__foot__unlike__count
            color: #ff0000
            margin-left: 8px