#profile
  background-color: #ffffff
  border-radius: 4px
  overflow: hidden
  text-overflow: ellipsis
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25)
  padding: 16px

  #profile__nickname
    -webkit-text-size-adjust: none
    -moz-text-size-adjust: none
    font-size: 32px
    font-weight: 300
    overflow: hidden
    text-overflow: ellipsis
    min-width: 0

  #profile__fullname
    -webkit-text-size-adjust: none
    -moz-text-size-adjust: none
    font-size: 16px
    font-weight: 400
    margin-top: 16px

  #profile__about
    -webkit-text-size-adjust: none
    -moz-text-size-adjust: none
    font-size: 16px
    font-weight: 400
    margin-top: 16px

  #profile__detail
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 16px
    text-align: center
    margin-top: 16px

    .profile__detail__item
      text-decoration: none
      color: $mc

      .profile__detail__item__count
        font-size: 32px
        font-weight: 300

      .profile__detail__item__name
        color: $mc
        font-size: 12px
        font-weight: 500
        transition: color 125ms linear

  #profile__action
    margin-top: 16px

    .profile__action__button
      background-color: $mc
      padding: 16px
      font-size: 16px
      display: flex
      width: 100%
      justify-content: center
      align-items: center
      text-decoration: none
      color: #ffffff
      outline: none
      border: none
      border-radius: 4px
      cursor: pointer
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25)


    .profile__action__link
      @extend .profile__action__button
      width: auto

#profile__create
  border-radius: 4px
  display: flex
  flex-direction: column
  background-color: #ffffff
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25)

  #profile__create__text
    font-size: 16px
    padding: 16px
    outline: none
    border: none
    resize: none
    overflow: hidden
    border-radius: 16px

    &::placeholder
      color: $hc

  #profile__create__button
    display: none
    -moz-appearance: button
    -webkit-appearance: button
    background-color: #8000ff
    padding: 16px
    font-size: 16px
    justify-content: center
    align-items: center
    text-decoration: none
    color: #ffffff
    border: none
    border-radius: 0 0 4px 4px
    outline: none
    cursor: pointer