$mc: #8000ff
$bc: #ece6f2
$hc: #a78fbf

*
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0
  outline: none

  body
    margin-right: calc(100% - 100vw)
    overflow-x: hidden
    background-color: $bc

@import navigator

@import security

#container
  max-width: 640px
  margin: 0 auto
  display: grid
  grid-gap: 16px
  padding: 67px 16px 16px

  #empty
    -webkit-text-size-adjust: none
    -moz-text-size-adjust: none
    font-size: 16px
    text-align: center
    opacity: 0.5

  #error
    text-align: center

    #sad
      display: inline-block
      text-align: center
      width: 128px
      opacity: 0.5
      padding: 48px 0

  .loading
    width: 19px
    height: 19px
    animation: rotate 2s linear infinite

  @keyframes rotate
    from
      transform: rotate(0)
    to
      transform: rotate(360deg)

  @import profile

  @import post

  @import user

  @import settings

  @import search