* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;

    body {
        min-width: 320px;
        background-color: rgba(#8000ff, .1);
        margin-right: calc(100% - 100vw);
        overflow-x: hidden;
    }
}

.container {
    max-width: 640px;
    margin: auto;
    padding: 16px;
    display: grid;
    grid-gap: 16px;
}

@import 'header';
@import 'security';
@import 'post';
@import 'profile';
@import 'settings';