{% extends 'base.html.twig' %}

{% block title %}Лента{% endblock %}

{% block body %}
    <div class="container">
        <div id="posts">
            {% include 'post/post.html.twig' %}
        </div>
    </div>
{% endblock %}