{% for post in posts %}
    <div class="publication">
        <div class="publication__head">
            <a class="publication__head__user" href="{{ path('view', {'nickname': post.user.nickname}) }}">{{ post.user.nickname }}</a>
            <p class="publication__head__date">{{ post.createdAt|date('d.m.Y') }}</p>
        </div>
        <div class="publication__body">
            <p class="publication__body__text">{{ post.text }}</p>
        </div>
    </div>
{% endfor %}