{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'navigator.html.twig' %}

    <div id="container">
        <div id="users">
            {% if users %}
                {% include 'user/user.html.twig' %}
            {% else %}
                <p id="empty">Подписки не найдены</p>
            {% endif %}
        </div>
    </div>
{% endblock %}