{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'navigator.html.twig' %}

    <div id="container">
        <p id="sad"><i class="fas fa-times"></i></p>
        <p id="empty">Данная страница была удалена, либо никогда не существовала</p>
    </div>
{% endblock %}