{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div id="users">
            {% if users.count > 0 %}
                {% for user in users %}
                    {% include 'subscribe/user.html.twig' %}
                {% endfor %}
            {% else %}
                <div id="empty">Пользователи не найдены</div>
            {% endif %}
        </div>
    </div>
{% endblock %}