{% if not app.user %}
    <form action="{{ path('login') }}" method="GET">
        <button class="profile__action__button" type="submit">Подписаться</button>
    </form>
{% elseif app.user == user %}
    <form action="{{ path('edit', {'nickname': user.nickname}) }}" method="GET">
        <button class="profile__action__button" type="submit">Редактировать</button>
    </form>
{% elseif user.followers.contains(app.user) %}
    <button id="unfollow" class="profile__action__button">Отписаться</button>
{% elseif user.following.contains(app.user) %}
    <button id="follow" class="profile__action__button">Подписаться в ответ</button>
{% else %}
    <button id="follow" class="profile__action__button">Подписаться</button>
{% endif %}