{% if not app.user %}
    <a class="profile__action__link" href="{{ path('login') }}">Подписаться</a>
{% elseif app.user == user %}
    <a class="profile__action__link" href="{{ path('settings', {'nickname': user.nickname}) }}">Настройки</a>
{% elseif user.followers.contains(app.user) %}
    <button id="unfollow" class="profile__action__button">Отписаться</button>
{% elseif user.following.contains(app.user) %}
    <button id="follow" class="profile__action__button">Подписаться в ответ</button>
{% else %}
    <button id="follow" class="profile__action__button">Подписаться</button>
{% endif %}